* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor-principal {
    background: hsl(307, 77%, 93%);
    display: flex;
    min-height: 100vh;
}

#logo {
    height: 15%;
    margin-top: 1%;
}

.tarjeta {
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
}

#mensaje {
    position: relative;
    width: 80%;
    height: 90%;
    left: 6%;
    top: 30%;
    border: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    background-color: hsl(307, 77%, 93%);
    color: rgb(245, 28, 209);
}

#mensaje::placeholder {
    color: rgb(245, 28, 209);
}

#mensaje:focus,
#mensaje:active {
    border: none;
    outline: none;
}

.error {
    color: rgb(245, 28, 209);
    display: block;
    margin-top: 55px;
    margin-left: 6%;
    font-size: 1.3rem;
}

.contenedor-terminos {
    display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 8px;
        position: absolute;
        width: 80%;
        left: 12%;
        top: 82%;
    }
.contenedor-terminos p {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #495057;
        opacity: 0.8;
        flex: none;
        order: 1;
        flex-grow: 0;
        top: 77%;
}

.contenedor-botones {
    text-align: center;
    display: flex;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 60%;
    left: 12%;
    top: 83%;
}
#encriptar {
    box-sizing: border-box;
    padding: 2%;
    gap: 8px;
    width: 280px;
    height: 67px;
    background-color: rgb(245, 28, 209);
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    color: #ffffff;
    margin-right: 25px;
    cursor: pointer;
}
#desencriptar {
    box-sizing: border;
    padding: 2%;
    gap: 8%;
    width: 280px;
    height: 67px;
    background-color: rgb(234, 198, 228);
    border: 1px solid rgb(245, 28, 209);
    border-radius: 24px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    color: rgb(245, 28, 209);
    cursor: pointer;
}
#encriptar:hover,
#desencriptar:hover {
    width: 0 25%;
    padding: 1.8%;
    margin: 0.3%;
}

.tarjeta2 {
    position: absolute;
    width: 25%;
    height: 90%;
    left: 70%;
    top: 5%;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 32px;
    text-align: center;
}

#imagen {
    margin-top: 15%;
}

#h3 {
    font-size: 24px;
    font-family: "Inter";
    margin-top: 15%;
}
#parrafo {
    font-size: 16px;
    font-family: "Inter";
    margin-top: 15%;
    color: #495057;
}

#resultado {
display: flex;
display: block;
margin-left: 7.6%;
border: none;
font-size: 24px;
color: rgb(245, 28, 209);
margin-top: 15%;
}

#resultado::placeholder {
    color: rgb(245, 28, 209);
}

#resultado:focus,
#resultado:active {
    border: none;
    outline: none;
}

#copiar,
#escuchar {
    width: 160px;
    height: 67px;
    padding: 2%;
    gap: 8px;
    font-size: 18px;
    font-family: "Inter";
    font-weight: 400;
    line-height: 19px;
    background-color: rgb(245, 28, 209);
    color: #ffffff;
    border-radius: 24px;
    cursor: pointer;
    margin-top: 110%;
}

.ocultar {
    display: none;
}

.encriptado-copiar {
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 500px;
    background-color: rgb(245, 28, 209);
} 
    .btn-copiar {
    width: 258px;
    height: 63px;
    border-radius: 24px;
    color: #ffffff;
    background-color:  rgb(245, 28, 209);
    font-size: 18px;
    font-weight: 400;
    font-family: "inter";
    border: 1px solid #0c0c0c;
    cursor: pointer;
    position: relative;
    top: -16px;
    margin-left: 3%;
    }
    .btn-copiar:hover {
    width: 245px;
    padding: 1.8%;
    }

/* Responsive design*/
@media (max-width: 57.5em) {
    .contenedor-principal {
        display: flex;
        flex-direction: row;
    }
    #logo {
        margin-top: 5%;
    }
    .tarjeta {
        width: 100%;
    }
    #mensaje {
        width: 80%;
        height: 60%;
        top: 40%;
        left: -28%;
        font-size: 24px;
    }
    .error {
        color: rgb(245, 28, 209);
        display: block;
        margin-top: 65px;
        margin-left: 55%;
        font-size: 1.05rem;
    }
    .contenedor-terminos {
        width: 80%;
        left: 10%;
        top: 62%;
    }
    .contenedor-terminos p {
        font-size: 16px;    
    }
    .contenedor-botones {
        width: 80%;
        left: 10%;
        top: 65%;
    }
    #encriptar,
    #desencriptar {
        width: 48%;
        border-radius: 16px;
    }
    #encriptar:hover,
    #desencriptar:hover {
        margin: 0.3%;
        width:47.5%;
        padding: 1.8%;
    }
    .tarjeta2 {
        width: 80%;
        height: 35%;
        left: 10%;
        top: 78%;
        text-align: center;
    }
    #h3,
    #parrafo {
        width: 100%;
        margin-top: 1%;
    }
    #imagen {
        top: 0%;
        display: none;
        visibility: hidden;
    }
}

/*Pie de Pagina*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .grupo-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 130%;
    background: #262626;
}
    .perfil h5, 
    .perfil p {
    display: flex;
    height: 25px;
    margin: 7%;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: rgb(245, 28, 209);
}
    .social h5{
    color: rgb(245, 28, 209);
    height: 30px;
    font-size: 20px;
    margin: 7%;
    }
    .social ul {
    display: flex;
}
    .social ul li {
    position: relative;
    display: block;
    color: #666;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background: #171515;
    line-height: 60px;
    border-radius: 50px;
    margin: 25px;
    cursor: pointer;
    transition: 2s;
}
    .social ul li:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    /*background: #d35400;*/
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1; 
    transform: scale(0.9);
    transition: 2s;
}
    .social ul li:nth-child(1)::before{
    background: #154cb8;
}
    .social ul li:nth-child(2)::before{
    background: #1DA1F2;
}
    .social ul li:nth-child(3)::before{
    background: #E1306C;
}
    .social ul li:nth-child(4)::before{
    background: #ff0000;
}
    .social ul li:hover::before {
    filter: blur(3px);
    transform: scale(1.2);
    /*box-shadow: 0 0 20px #d35400;*/
}
    .social ul li:nth-child(1):hover::before {
    box-shadow: 0 0 40px #154cb8;
}
    .social ul li:nth-child(2):hover::before {
    box-shadow: 0 0 40px #1DA1F2;
}
    .social ul li:nth-child(3):hover::before {
    box-shadow: 0 0 40px #E1306C;
}
    .social ul li:nth-child(4):hover::before {
    box-shadow: 0 0 40px #ff0000;
}    
    .social ul li:nth-child(1):hover{
    color: #456cba;
    box-shadow: 0 0 40px #154cb8;
    text-shadow: 0 0 40px #154cb8;
}
    .social ul li:nth-child(2):hover{
    color: #26a4f2;
    box-shadow: 0 0 40px #1DA1F2;
    text-shadow: 0 0 40px #1DA1F2;
}
    .social ul li:nth-child(3):hover{
    color: #e23670;
    box-shadow: 0 0 40px #E1306C;
    text-shadow: 0 0 40px #E1306C;
}
    .social ul li:nth-child(4):hover{
    color: #ff1a1a;
    box-shadow: 0 0 40px #ff0000;
    text-shadow: 0 0 40px #ff0000;
}












